//RESERVE
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//MAIN
html {
  font-size: 18px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card-ctn {
  padding: 2em;
  background: hsl(216, 50%, 16%);
}
